.text-require{
   color: red;
   font: normal 13px/17px helvetica, arial, verdana, sans-serif;
   min-height: 24px;
   padding-top: 4px;
   padding-right: 5px;
   width: 26px;
   display: table-cell;
    
}

.text-require_black{
    color:black;
    display:block;
    float:left;
    /* width:100px; */
    padding:3px;
    padding-left:0;
    clear:left;
    z-index:3;
    position:relative;
}

.text-require_right{
    color:red;
   /* display:block;
    float:right;
    
    padding:3px;
    padding-left:0;
    clear:left;
    z-index:3;
    position:relative;*/
}

/*Lead*/
.text-Header{
    color:red;
    font-weight:bold;
    
    float:left;
    /* width:100px; */
    padding:3px;
    padding-left:0;
    clear:left;
    z-index:10;
    
}
.text-title
{
    color:black;
    font-weight:bold;
    display:block;
    float:left;
    /* width:100px; */
    padding:3px;
    padding-left:0;
    clear:left;
    z-index:3;
    position:relative;
   
   
}

